@model WebSource.Models.shop
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card mb-3">
    <div class="card-header">Manage User</div>
    <div class="card-body">
        <form action="SaveShopEdit" method="post">
            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-6">
                        <label for="exampleInputName">Shop ID</label>
                        <input name="shop_id" class="form-control" id="exampleInputName" readonly="readonly" type="text" aria-describedby="nameHelp" value="@Model.shop_id">
                    </div>
                    <div class="col-md-6">
                        <label for="exampleInputLastName">Shop Name</label>
                        <input name="shop_name" class="form-control" id="exampleInputLastName" type="text" aria-describedby="nameHelp" value="@Model.shope_name">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Address</label>
                <input name="address" class="form-control" id="exampleInputEmail1" type="text" value="@Model.address">
            </div>
            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-6">
                        <label for="exampleInputPassword1">Shop Manager</label>
                        <input name="manager" class="form-control" id="exampleInputPassword1" type="text" value="@Model.shop_mngr">
                    </div>
                </div>
            </div>
            <input class="btn btn-primary btn-block" type="submit" />
        </form>
    </div>
</div>
